*.c0 linguist-language=Crystal
*.c1 linguist-language=Shen
*.c2 linguist-language=Volt
*.c3 linguist-language=NWScript
*.c4 linguist-language=AppleScript
*.c5 linguist-language=PureScript
*.c6 linguist-language=YARA
*.c7 linguist-language=Brainfuck
*.c8 linguist-language=Fantom
*.c9 linguist-language=Forth
*.c10 linguist-language=xBase
*.c11 linguist-language=SQF
*.c12 linguist-language=LFE
*.c13 linguist-language=AutoIt
*.c14 linguist-language=WebAssembly
*.c15 linguist-language=DataWeave
*.c16 linguist-language=F*
*.c17 linguist-language=Dockerfile
*.c18 linguist-language=Cuda
*.c19 linguist-language=Unified-Parallel-C
*.c20 linguist-language=NCL
*.c21 linguist-language=C
*.c22 linguist-language=PowerShell
*.c23 linguist-language=SuperCollider
*.c24 linguist-language=Agda
*.c25 linguist-language=Bison
*.c26 linguist-language=PEG.js
*.c27 linguist-language=GDScript
*.c28 linguist-language=Nemerle
*.c29 linguist-language=SaltStack
*.c30 linguist-language=KRL
*.c31 linguist-language=CoffeeScript
*.c32 linguist-language=Dylan
*.c33 linguist-language=Eiffel
*.c34 linguist-language=Kaitai-Struct
*.c35 linguist-language=Futhark
*.c36 linguist-language=Prolog
*.c37 linguist-language=Factor
*.c38 linguist-language=ZAP
*.c39 linguist-language=Puppet
*.c40 linguist-language=PureBasic
*.c41 linguist-language=Yacc
*.c42 linguist-language=DM
*.c43 linguist-language=Haskell
*.c44 linguist-language=Elixir
*.c45 linguist-language=ABAP-CDS
*.c46 linguist-language=Gherkin
*.c47 linguist-language=Terra
*.c48 linguist-language=TypeScript
*.c49 linguist-language=LLVM
*.c50 linguist-language=PHP
*.c51 linguist-language=Assembly
*.c52 linguist-language=Pike
*.c53 linguist-language=Ruby
*.c54 linguist-language=APL
*.c55 linguist-language=eC
*.c56 linguist-language=Hack
*.c57 linguist-language=ObjectScript
*.c58 linguist-language=Golo
*.c59 linguist-language=Python
*.c60 linguist-language=Ioke
*.c61 linguist-language=NetLinx+ERB
*.c62 linguist-language=Modula-3
*.c63 linguist-language=Apollo-Guidance-Computer
*.c64 linguist-language=Jolie
*.c65 linguist-language=Self
*.c66 linguist-language=Gosu
*.c67 linguist-language=UnrealScript
*.c68 linguist-language=LookML
*.c69 linguist-language=Clean
*.c70 linguist-language=Racket
*.c71 linguist-language=FreeBasic
*.c72 linguist-language=VBA
*.c73 linguist-language=Hy
*.c74 linguist-language=Smalltalk
*.c75 linguist-language=VCL
*.c76 linguist-language=MQL5
*.c77 linguist-language=Lasso
*.c78 linguist-language=Zephir
*.c79 linguist-language=ECL
*.c80 linguist-language=ActionScript
*.c81 linguist-language=Solidity
*.c82 linguist-language=LiveScript
*.c83 linguist-language=AutoHotkey
*.c84 linguist-language=Beef
*.c85 linguist-language=Rebol
*.c86 linguist-language=Wollok
*.c87 linguist-language=Fancy
*.c88 linguist-language=Propeller-Spin
*.c89 linguist-language=IDL
*.c90 linguist-language=V
*.c91 linguist-language=Bicep
*.c92 linguist-language=D
*.c93 linguist-language=Squirrel
*.c94 linguist-language=Slice
*.c95 linguist-language=LSL
*.c96 linguist-language=Jsonnet
*.c97 linguist-language=Apex
*.c98 linguist-language=AL
*.c99 linguist-language=FreeMarker
*.c100 linguist-language=Makefile
*.c101 linguist-language=EQ
*.c102 linguist-language=Julia
*.c103 linguist-language=Perl
*.c104 linguist-language=P4
*.c105 linguist-language=TI-Program
*.c106 linguist-language=Common-Workflow-Language
*.c107 linguist-language=wisp
*.c108 linguist-language=SAS
*.c109 linguist-language=Pep8
*.c110 linguist-language=Visual-Basic-.NET
*.c111 linguist-language=nesC
*.c112 linguist-language=Max
*.c113 linguist-language=MAXScript
*.c114 linguist-language=MQL4
*.c115 linguist-language=VHDL
*.c116 linguist-language=NewLisp
*.c117 linguist-language=Ragel
*.c118 linguist-language=AspectJ
*.c119 linguist-language=Processing
*.c120 linguist-language=Fortran
*.c121 linguist-language=mIRC-Script
*.c122 linguist-language=Elm
*.c123 linguist-language=Glyph
*.c124 linguist-language=Faust
*.c125 linguist-language=CUE
*.c126 linguist-language=PowerBuilder
*.c127 linguist-language=SmPL
*.c128 linguist-language=Go
*.c129 linguist-language=Dart
*.c130 linguist-language=Erlang
*.c131 linguist-language=ooc
*.c132 linguist-language=R
*.c133 linguist-language=Scala
*.c134 linguist-language=Nearley
*.c135 linguist-language=Java
*.c136 linguist-language=Rust
*.c137 linguist-language=Io
*.c138 linguist-language=Boo
*.c139 linguist-language=Lua
*.c140 linguist-language=Standard-ML
*.c141 linguist-language=Common-Lisp
*.c142 linguist-language=jq
*.c143 linguist-language=Ring
*.c144 linguist-language=ZenScript
*.c145 linguist-language=Clojure
*.c146 linguist-language=Pawn
*.c147 linguist-language=MLIR
*.c148 linguist-language=Dogescript
*.c149 linguist-language=Vim-script
*.c150 linguist-language=Stan
*.c151 linguist-language=Verilog
*.c152 linguist-language=sed
*.c153 linguist-language=Odin
*.c154 linguist-language=Oxygene
*.c155 linguist-language=ImageJ-Macro
*.c156 linguist-language=C#
*.c157 linguist-language=ANTLR
*.c158 linguist-language=AngelScript
*.c159 linguist-language=1C-Enterprise
*.c160 linguist-language=NetLinx
*.c161 linguist-language=FLUX
*.c162 linguist-language=PLSQL
*.c163 linguist-language=Omgrofl
*.c164 linguist-language=NumPy
*.c165 linguist-language=Objective-C
*.c166 linguist-language=Cirru
*.c167 linguist-language=Rouge
*.c168 linguist-language=Zig
*.c169 linguist-language=Harbour
*.c170 linguist-language=Ren'Py
*.c171 linguist-language=Tcl
*.c172 linguist-language=PogoScript
*.c173 linguist-language=AGS-Script
*.c174 linguist-language=Nextflow
*.c175 linguist-language=Awk
*.c176 linguist-language=LilyPond
*.c177 linguist-language=Emacs-Lisp
*.c178 linguist-language=G-code
*.c179 linguist-language=Gnuplot
*.c180 linguist-language=Frege
*.c181 linguist-language=Groovy
*.c182 linguist-language=X10
*.c183 linguist-language=Dhall
*.c184 linguist-language=C++
*.c185 linguist-language=SystemVerilog
*.c186 linguist-language=MATLAB
*.c187 linguist-language=Idris
*.c188 linguist-language=q
*.c189 linguist-language=PigLatin
*.c190 linguist-language=ReScript
*.c191 linguist-language=Boogie
*.c192 linguist-language=Slash
*.c193 linguist-language=Turing
*.c194 linguist-language=Nix
*.c195 linguist-language=NetLogo
*.c196 linguist-language=XSLT
*.c197 linguist-language=Click
*.c198 linguist-language=Genie
*.c199 linguist-language=Mirah
*.c200 linguist-language=VBScript
*.c201 linguist-language=Nit
*.c202 linguist-language=ZIL
*.c203 linguist-language=BlitzMax
*.c204 linguist-language=J
*.c205 linguist-language=Vala
*.c206 linguist-language=ABAP
*.c207 linguist-language=Kotlin
*.c208 linguist-language=QML
*.c209 linguist-language=Xonsh
*.c210 linguist-language=Opal
*.c211 linguist-language=mcfunction
*.c212 linguist-language=Uno
*.c213 linguist-language=Starlark
*.c214 linguist-language=Clarion
*.c215 linguist-language=AMPL
*.c216 linguist-language=Ceylon
*.c217 linguist-language=Objective-C++
*.c218 linguist-language=EmberScript
*.c219 linguist-language=Fennel
*.c220 linguist-language=LOLCODE
*.c221 linguist-language=OpenQASM
*.c222 linguist-language=Macaulay2
*.c223 linguist-language=wdl
*.c224 linguist-language=JSONiq
*.c225 linguist-language=Haxe
*.c226 linguist-language=Game-Maker-Language
*.c227 linguist-language=Reason
*.c228 linguist-language=Qt-Script
*.c229 linguist-language=Pan
*.c230 linguist-language=HolyC
*.c231 linguist-language=Chapel
*.c232 linguist-language=Component-Pascal
*.c233 linguist-language=Scheme
*.c234 linguist-language=GAML
*.c235 linguist-language=Objective-J
*.c236 linguist-language=Swift
*.c237 linguist-language=SourcePawn
*.c238 linguist-language=Rascal
*.c239 linguist-language=Papyrus
*.c240 linguist-language=Oz
*.c241 linguist-language=E
*.c242 linguist-language=ColdFusion
*.c243 linguist-language=ColdFusion-CFC
*.c244 linguist-language=XQuery
*.c245 linguist-language=Q#
*.c246 linguist-language=Mercury
*.c247 linguist-language=Shell
*.c248 linguist-language=JavaScript
*.c249 linguist-language=Pascal
*.c250 linguist-language=F#
*.c251 linguist-language=Nu
*.c252 linguist-language=Alloy
*.c253 linguist-language=Classic-ASP
*.c254 linguist-language=IGOR-Pro
*.c255 linguist-language=ATS
*.c256 linguist-language=Ballerina
*.c257 linguist-language=JFlex
*.c258 linguist-language=Lex
*.c259 linguist-language=Fluent
*.c260 linguist-language=Metal
*.c261 linguist-language=AIDL
*.c262 linguist-language=Red
*.c263 linguist-language=Ada
*.c264 linguist-language=Parrot
*.c265 linguist-language=Nim
*.c266 linguist-language=XC
*.c267 linguist-language=Arc
*.c268 linguist-language=Asymptote
*.c269 linguist-language=BASIC
*.c270 linguist-language=Grammatical-Framework
*.c271 linguist-language=OCaml
*.c272 linguist-language=HiveQL
*.c273 linguist-language=Batchfile
*.c274 linguist-language=ASP.NET
*.c275 linguist-language=Dafny
*.c276 linguist-language=Raku
*.c277 linguist-language=Isabelle
